body{
    background-color: #e1a653;
    color: #000;
    font-family: 'Lalezar', cursive;
}

span{
    color: white;
    text-decoration: underline;
}
.photoID{
    height: 268px;
    width: 100%;
    margin: auto;
    border-radius: 12px;
    border: 5px solid #000;
}

.logo{
    margin: auto;
    height: 200px;
}

#logoHeader{
    padding: 30px;
    background-color: #000;
}
.logoRow {
    background-color: #000;
}

#activeEnemies {
    padding-left: 20px;
    padding-right: 20px;
}

.titleRow{
    margin: auto;
}

.mainSection, #logoHeader {
    max-width: 1025px;
    margin: auto;
}

.photoThumb h3, .logoRow h3 {
    font-size: 18px;
    color: #000;
    text-align: center;
    background: #e1a653;
    border-bottom: 0;
}

.logoRow .photoID {
    border: 5px solid #e1a653; 
    height: 200px;
}

.nameBanner{
    position: absolute;
    bottom: 70px;
    width: 80%;
    margin-left: 4%;
    padding: 10px;
    border-radius: 25px;
    border: 5px solid #000;
    background: #e1a653;
}

.logoRow .nameBanner {
    position: absolute;
    bottom: 10px;
    width: 80%;
    margin-left: 4%;
    padding: 5px;
    border-radius: 25px;
    border: 5px solid #000;
}
.aBtnCol {
    min-height: 300px;
}
.btnAttack {
    border: 5px solid #e1a653;
    background: #000;
    width: 90%;
    margin: auto;
    margin-top: 95px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 40px;
    display: block;
    color: #e1a653;
}
.panel-footer {
    text-align: right;
}

#modalPanel, #modalTitle{
    margin-bottom: 0px;
    font-size: 25px;
}

#modalPanel .panel-heading, #modalPanel .panel-footer {
    color: #e1a653;
    background-color: #000;
    border: 5px solid #e1a653;    
}

#modalPanel .panel-body
{
    background-color: #e6a43763;
    font-size: 20px;
    border: 5px solid #e1a653;
}

#modalPanel button {
    margin-right: 10px;
    color: #000;
    border-radius: 25px;
    border: 5px solid #000;
    background: #e1a653;
}

#gameOverModal, #msg {
    text-align: center;
}
